.view {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;

    border: 2px solid rgb(83, 83, 83);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px;

        border-bottom: 1px solid black;

        & > div {
            display: grid;
            grid-auto-flow: column;
            column-gap: 20px;
        }
    }

    &__content {
        flex-grow: 1;

        overflow: auto;
    }
}
